* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000000;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container-used {
  margin: 25px;
  width: 550px;
  background-color: white;
  height: 550px;
}