* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000000;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

main {
  margin: 25px;
  width:600px;
  background-color: white;
min-height: 500px;
}

.container-used {
  background-color: #000000;
}